@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .invalidPassword-LoginPage {
    @apply border-red-500 border-2
  }
  .validPassword-LoginPage {
    @apply border-green-400 border-2
  }
  .invalidCode-LoginPage input[type=tel] {
    @apply border-red-400 bg-red-100 text-red-500
  }
  .defaultCode-LoginPage input[type=tel]{
    @apply bg-gray-300 border-gray-300 text-gray-600
  }
  .validCode-LoginPage input[type=tel]{
    @apply bg-green-100 border-green-400 text-green-500
  }
}